body{
  margin: 0;
  font-family: monospace;
}

.main{
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
}
.darkTheme{
  background-color: #5a5a5a;
  transition: 0.4s;
}
.selected .buttonOnCap{
  background-color: #eaeaea;
}
.darkTheme .selected .buttonOnCap{
  background-color: #7d7d7d;
}
.buttonOnCap{
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: #1abc9c;
  border: none;
  background-color: white;
  margin-right: 30px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration:0.4s;
}
.darkTheme .buttonOnCap{
  color: #e2bc00;
  background-color: #5a5a5a;
}
.darkTheme .buttonLineTop{
  background: linear-gradient(90deg, transparent, #e2bc00);
}
.darkTheme .buttonLineBottom{
  background: linear-gradient(270deg, transparent, #e2bc00);
}
.darkTheme .buttonLineLeft{
  background: linear-gradient(0deg, transparent, #e2bc00);
}
.darkTheme .buttonLineRight{
  background: linear-gradient(180deg, transparent, #e2bc00);
}
.darkTheme .home:hover{
  box-shadow: 0 0 10px #e2bc00, 0 0 40px #e2bc00, 0 0 80px #e2bc00;
}
.darkTheme .buttonOnCap:hover{
  color: black;
  background-color: #e2bc00
}
.darkTheme .dark, .darkTheme .send{
  color:black;
  background-color: #e2bc00;
}
.darkTheme .dark:hover, .darkTheme .send:hover{
  background-color:#5a5a5a;
  color: #e2bc00;
}
.buttonOnCap:hover{
  color: white;
  background-color: #1abc9c;
}
.dark{
  color: white;
  background-color: #1abc9c;
}
.dark:hover, .send:hover{
  color: #1abc9c;
  background-color: white;
}
.home{
  margin: 20px;
  position: relative;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 0px;
  overflow: hidden;
  margin-right: 65%;
  float: left;
}
.home:hover{
  transition: 1s;
  transition-delay: 0.7s;
  background-color: #1abc9c;
  text-decoration: none;
  box-shadow: 0 0 10px #1abc9c, 0 0 40px #1abc9c, 0 0 80px #1abc9c;
}
.buttonLine{
  position: absolute;
  display: block;
}
.buttonLineTop{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1abc9c);
}
.home:hover .buttonLineTop{
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.buttonLineBottom{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1abc9c);
}
.home:hover .buttonLineBottom{
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.buttonLineLeft{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #1abc9c);
}
.home:hover .buttonLineLeft{
  bottom: 100%;
  transition: 1s;
}
.buttonLineRight{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1abc9c);
}
.home:hover .buttonLineRight{
  top: 100%;
  transition: 1s;
}
p, label{
  display: inline-block;
  color: #4f5665;
}
p:hover, label:hover{
  color:#8c8c8c;
  transition: 0.5s;
}
.darkTheme p, .darkTheme label{
  color:#a7a7a7;
}
.darkTheme p:hover, .darkTheme label:hover{
  color:#ccc;
}
.line{
  display: inline-block;
  margin-top:11px;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1abc9c);
  align-items: center;
}
.darkTheme .line{
  background: linear-gradient(270deg, transparent, #e2bc00);
  transition: 0.5s;
}
.darkTheme .zagolovok, .darkTheme a{
  color: #e2bc00;
}
.darkTheme .zagolovok:hover, .darkTheme a:hover{
  color: #d8c047;
}
.darkTheme .x, .darkTheme .e, .darkTheme .delete, .darkTheme .edit1{
  color: black;
  background-color: #e2bc00;
}
.zagolovok{
  display: inline-block;
  color: #1abc9c;
  margin: 50px;
  margin-right: 20%;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
}
.zagolovok:hover, a:hover{
  color: #0dd3aa;
}
input{
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  color:#1abc9c;
  height: 23px;
  border-color: #1abc9c;
  border-radius: 10px;
  font-size: 14px;
}
input:hover, input:focus{
  background-color:#e2e2e2;
  border-color: #0dd3aa;
  transition: 0.5s;
}
.darkTheme input{
  border-color: #e2bc00;
  color:#e2bc00;
  background-color: #6d6d6d;
  transition: 0.4s;
}
.darkTheme input:hover, .darkTheme input:focus{
  border-color: #d8c047;
  background-color: #a7a7a7;
}
a{
  color:#1abc9c;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.buttonLineBottomName{
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: #1abc9c;
}
a:hover .buttonLineBottomName{
  right: 0%;
  transition: 0.5s;
}
.darkTheme .buttonLineBottomName{
  background: #e2bc00;
}
.row{
  display: inline-block;
  margin: 5px;
  margin-left: 10%;
  text-decoration: none;
  border-radius: 5px;
}
.row span{
  width: 450px;
  display: inline-flex;
}
.row:hover{
  background-color: #f1f9f9;
  transition: 0.7s;
}
.darkTheme .row:hover{
  background-color:#656565;
  transition: 0.7s;
}
.x, .e, .delete, .edit1{
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #1abc9c;
  font-weight: bold;
  transition: 0.5s;
}
.x:hover, .delete:hover{
  color: red;
  box-shadow: 0 0 7px red, 0 0 14px red;
  transition: 0.5s;
}
.e:hover, .edit1:hover{
  color: #e2bc00;
  box-shadow: 0 0 7px #e2bc00, 0 0 14px #e2bc00;
  transition: 0.5s;
}
.darkTheme .e:hover, .darkTheme .edit1:hover{
  color: #59c52b;
  box-shadow: 0 0 7px #59c52b, 0 0 14px #59c52b;
}
label{
  margin: 20px;
  margin-right: 0px;
  font-size: 14px;
}
.send{
  border: none;
  height: 30px;
  color: white;
  background-color: #1abc9c;
  font-weight: bold;
  transition: 0.5s;
}
.usersMissing{
  margin: 30px;
}
.delete2{
  margin: 30px;
  border-radius: 30px;
}
.admin a{
  color: red;
}
.ava{
  width: 500px;
  height: 500px;
  margin: 30px;
  display: inline-block;
  float: right;
  border-radius: 50px;
  border: 5px #1abc9c solid;
  transition: 0.5s;
}
.ava:hover{
  opacity: 0.8;
  border-color: #0dd3aa;
}
.darkTheme .ava{
  border-color: #e2bc00;
}
.darkTheme .ava:hover{
  border-color: #d8c047;
}
.userName{
  font-size: 50px;
  margin: 60px;
  margin-left: 120px;
  margin-right: 250px;
  color: #1abc9c;
}
.userName:hover{
  color: #0dd3aa;
}
.darkTheme .userName{
  color: #e2bc00;
}
.darkTheme .userName:hover{
  color: #d8c047;
}
.delete, .edit1{
  width: 180px;
  font-size: 17px;
  margin-left: 40px;
}
.delete{
  float: left;
}
.analitics{
  margin-left: 10%;
  font-size: 23px;
}
